extends ./_template/_layout

block vars
  -
    head.title = 'INDEX'
    head.slug = 'index'
    head.keywords = 'index, INDEX'
    head.description = 'インデックスなんです...'

block append head
  script(src="", async)
  script(src="https://www.googletagmanager.com/gtag/js?id=", async)
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', '');

block append style
  //- link(rel='stylesheet', href=`${ filePath }assets/css/index.css`)

block includes
  //- include ./_template/_parts/_article/_datas/_index
  include ./_template/_parts/_article/_article

block body

  main#main.main
    .main__inner

  //- アーティクル
  article
    section.section
      .section__inner
        +article({})

block append scripts
  //- script(src=`${ filePath }assets/js/main.min.js`)
